@import '@styles/_mixin.scss';

.page-detail {
	h5 {
		font-size: 16px;
	}

	.ant-tabs {
		background: white;
		padding: 0 15px;
	}

	.item-info {
		background: white;
		padding: 15px;

		.ant-row {
			margin: 5px 0;
		}

	}

	.member-list {
		margin-top: 20px;
	}

	.task-list {
		margin-top: 20px;

		.top-content {
			@include flex-between
		}
	}


	.bg-tr {
		background-color: #f0f2f5;
	}
}
