.ant-table {
	background: white;
}

.ant-table-thead>tr>th,
.ant-table-thead>tr,
.ant-table-tbody>tr {
	text-align: center !important;
}

.ant-table-thead>tr>th,
.ant-table-tbody>tr>td {
	padding: 8px 10px !important;
}

.ant-page-header {
	height: 60px;
	display: flex;
	align-items: center;
}

.ant-form-item {
	margin-bottom: 10px !important;
}

.ant-modal-confirm-body .ant-modal-confirm-content {
	margin-top: 0 !important;
}

.ant-tabs-bar {
	margin: 0 !important;
}

.ant-input-number {
	width: 100% !important;
}